<header id="header">
	<h1>Page_Title</h1>
	<div class="pull-right" id="header-button-container">
		<button class="btn btn-primary btn-lg"><i class="fa fa-check fa-lg"></i></button>
		<button class="btn btn-success btn-lg"><i class="fa fa-edit fa-lg"></i></button>
		<button class="btn btn-warning btn-lg"><i class="fa fa-times fa-lg"></i></button>
	</div>
</header>

<content id="content">
<div id="page-options">
	<div class="pull-left" id="page-options-left">
		<a><i class="fa fa-arrow-left"></i> voltar</a> |
		<a><i class="fa fa-plus"></i> adicionar</a> |
		<a><i class="fa fa-search"></i> pesquisar</a>
	</div>
	<div class="pull-right" id="page-options-right">
		<a>avançar <i class="fa fa-arrow-right"></i></a>
	</div>
</div>
<div id="content-inner">
	<div class="content-section">
		<button class="btn btn-lg btn-warning" onclick="yesNoMaybeModal();" >Modal</button>
		<button class="btn btn-lg btn-warning" onclick="testMessage();" >Mensagem</button>
	</div>	
	
	
	<div class="content-section highlight-block">
		<h1>Highlight Block</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
	</div>
	<div class="content-section highlight-block highlight-inverted">
		<h1>Highlight Inverted Block</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
	</div>
	
	<div class="content-section highlighter-block">
		<h1>Highlighter Block</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
	</div>
	
	<div class="content-section highlightest-block">
		<h1>Highlightest Block</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
	</div>
	
	<div class="content-section highlight-block">
		<div class="col-sm-3 box-container highlight-block highlight-inverted">
			<div class="box-inner ">
				<p>Box-container</p> <p class="indent-1">box-inner</p>
			</div>
		</div>
		<div class="col-sm-2 col-sm-offset-1 box-container box-ratio-2-1 highlighter-block highlight-inverted">
			<div class="box-inner ">
				<p>Box-container box-ratio-2-1</p> <p class="indent-1">box-inner</p>
			</div>
		</div>
		<div class="col-sm-5 ">
			<div class="col-sm-12 col-sm-offset-1 box-container box-ratio-1-5 highlightest-block highlight-inverted long-shadow-container">
				<div class="box-inner long-shadow ">
					Square box relative to width - <strong>Ratio 1 to 5</strong>
				</div>
			</div>
			<div class="clearfix large"></div>
			<div class="col-sm-12 col-sm-offset-1 box-container box-ratio-1-3 outline-block long-shadow-container">
				<div class="box-inner long-shadow long-shadow-white">
					Also Long Shadow
				</div>
			</div>
		</div>
		
		<div class="clearfix large"></div>
		
		<div class="col-sm-4 no-padding">
			<div class="col-sm-12 box-container box-ratio-golden highlightest-block highlight-inverted">
				<div class="box-inner">
					<p>Box-container<br />box-ratio-golden</p> <p class="indent-1">box-inner</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-6 col-sm-offset-0 box-container box-ratio-golden-vertical highlightest-block highlight-inverted">
				<div class="box-inner">Golden Ratio</div>
			</div>
			<div class="col-sm-6 box-container box-ratio-golden-vertical highlight-block highlight-inverted">
				<div class="box-inner">Golden Ratio</div>
			</div>
		</div>
		<div class="col-sm-8 no-padding">
			<div class="col-sm-5 box-container box-ratio-golden-vertical highlighter-block highlight-inverted">
				<div class="box-inner">
					<p>Box-container<br />box-ratio-golden-vertical</p> <p class="indent-1">box-inner</p>
				</div>
			</div>
		</div>
		
		
		<div class="clearfix large"></div>
		
		<div class="col-sm-12 box-container box-ratio-golden no-padding outline-block">
			<div class="box-inner">
				<div class="col-sm-5 box-container box-ratio-golden-vertical no-padding outline-block">
					<div class="box-inner">
						<div class="col-sm-12 box-container box-ratio-golden no-padding outline-block">
							<div class="box-inner">
								<div class="col-sm-5 box-container box-ratio-golden-vertical no-padding outline-block">
									<div class="box-inner">
						<div class="col-sm-12 box-container box-ratio-golden no-padding outline-block">
							<div class="box-inner">
								<div class="col-sm-5 box-container box-ratio-golden-vertical no-padding outline-block">
									<div class="box-inner">
						<div class="col-sm-12 box-container box-ratio-golden no-padding outline-block">
							<div class="box-inner">
								<div class="col-sm-5 box-container box-ratio-golden-vertical no-padding outline-block">
									<div class="box-inner">
						<div class="col-sm-12 box-container box-ratio-golden no-padding outline-block">
							<div class="box-inner">
								<div class="col-sm-5 box-container box-ratio-golden-vertical no-padding outline-block">
									<div class="box-inner">
										
									</div>
								</div>
							</div>
						</div>
									</div>
								</div>
							</div>
						</div>
									</div>
								</div>
							</div>
						</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4"><div class="col-sm-12"><br />Playing around ;D</div></div>
			</div>
		</div>
		
	</div>
	
	<br />
	<p class="small"><i class="fa fa-arrow-up"></i> oops..</p>
	<br />
	
	<h1>Actual Titling for the Page</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
	<h2>Title for content</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
	<h3>Subtitle for content</h3>
	<p class="official">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
	
	<hr />
	<p>Smaller versions:</p>
	<hr />
	
	<h4>Actual Titling for the Page</h4>
	<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
	<h5>Title for content</h5>
	<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
	<h6>Subtitle for content</h6>
	<p class="small official">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
	
	<hr />
	<p>Ways to pass feelings:</p>
	<hr />
	
	<code>.coloquial</code>
	<p class="coloquial">This is a coloquial text. See how it seems like i'm speaking to you?</p>
	
	<code>.official</code>
	<p class="official">There has been an error when you cloned the registry, please verify to that.</p>
	
	<code>.spelled</code>
	<p class="spelled">can you understand?</p>
	
	<code>.yelling</code>
	<p class="yelling">Get to it now!</p>
	
	<code>.carved</code>
	<p class="carved">This text was written by carving into the html.</p>
	<p class="carved coloquial">This text was written by carving into the html.</p>
	<p class="carved official">This text was written by carving into the html.</p>
	
	<code>.outlined</code>
	<p class="outlined">Outline this text for me please</p>
	
	<code>.heavy-outlined</code>
	<p class="heavy-outlined">Outline this text for me please</p>
	
	<code>.long-shadow</code>
	<div class="long-shadow-container">
		<p class="long-shadow">Long shadowed text! Use within a container.</p>
	</div>
</div>
</content>